@import "tailwindcss";

@theme {
  --color-teal-50: #f5f3ff;
  --color-teal-100: #ede9fe;
  --color-teal-200: #ddd6fe;
  --color-teal-300: #c4b5fd;
  --color-teal-400: #a78bfa;
  --color-teal-500: #6366f1;
  --color-teal-600: #4f46e5;
  --color-teal-700: #4338ca;
  --color-teal-800: #3730a3;
  --color-teal-900: #312e81;
  --color-teal-950: #1e1b4b;

  --color-emerald-50: #f0fdf4;
  --color-emerald-100: #dcfce7;
  --color-emerald-200: #bbf7d0;
  --color-emerald-300: #86efac;
  --color-emerald-400: #4ade80;
  --color-emerald-500: #22c55e;
  --color-emerald-600: #16a34a;
  --color-emerald-700: #15803d;
  --color-emerald-800: #166534;
  --color-emerald-900: #14532d;
  --color-emerald-950: #052e16;

  --font-sans: 'Plus Jakarta Sans', sans-serif;
}
